html{
  max-width: 100%;
  min-height: 100%;
  margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 240px;
}
.logo_text{
    margin-left: 28px;
    font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 100%;
color: #FFFFFF;
text-decoration: none;
}
.header_link{
    margin-left: 150px;
}
.header_button{
    margin-left: 76px;
    width: 158px;
    height: 60px;
    border-radius: 6px;
    border: none;
    background-color: #EE4D47;
}
.header_link a{
    margin-left: 110px;
    text-decoration: none;
}
.header_button, .header_link a, .main_button{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.logo img{
    margin-bottom: 10px;
}
body{
    background-image: url(/img/Group\ 39.png);
    background-size: 1285px 800px;
    background-repeat: no-repeat;
    
}
.main{
    display: flex;
    flex-direction: column;
}
.main .main_section1 .section1_container1 h1{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 100%;
    color: #FFFFFF;
    
}
.main_section1 .section1_container1{
   width: 600px;
   margin-left: 240px;
}
.main_button{
    width: 220px;
    height: 60px;
    border-radius: 6px;
    border: none;
    background-color: #EE4D47;
    margin-left: 240px;
    margin-top: -30px;
}
.arrow{ 
width: 29.5px;
height: 12.35px;
margin-left: 20px;
}
button:hover{
    background-color: #000;
    transition-duration: 0.4s;
}
.car_img{
    position: absolute;
    margin-top: 110px;
}
.people_img{
    position: absolute;
    margin-left: 800px;
    margin-top: -210px;
}
.main_section2{
    height: 520px;
}
.main_section3{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 120px;
}
.main_section3 .section3_container1 .section3_block1 h3{
    font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 40px;
letter-spacing: 0.1em;
color: #EE4D47;
}
.main_section3 .section3_container1 .section3_block1 p{
    font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 40px;
color: #402B2B;
width: 500px;
}
.main_section3 .section3_container1 .section3_block2 p{
    font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #402B2B;
width: 470px;
height: 100px;
}
.main_section3 .section3_container1 .section3_block2{
    background: linear-gradient(to right, red 2%, #FCDDD4 2%);
    height: 160px;
    width: 570px;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: center;
    margin-top: 70px;
}
.main_section3 .section3_container1, .section3_container2{
    width: 50%;
}
.main_section3 .section3_container2{
   margin-top: -130px;
}
.main_section3 .section3_container1{
    margin-left: 245px;
}